html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

#header_section{
    overflow: hidden;
    height: 385px;
    position: relative;
}
.controler{
    width: 1170px;
    margin: auto;
}
.logo{
    width: 112px;
    height: 118px;
    top: 36px;
    left: 0;
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
    top: 10px;
}
.nav{
    width: 500px;
    float: right;
    user-select: none;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    padding: 8px;
    display: block;
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}
.nav ul li.active a{
    color: #ff8b00;
}
.nav ul li a:hover{
    color: #ff8b00;
}

#International{
    position: relative;
}
.sub{
    width: 157px;
    padding: 25px;
    height: 240px;
    margin-top: -4px;
    position: absolute;
    visibility: none;
    transform: scaleY(0);
    background: #212023c7;
    transform-origin:top;
    transition: 0.3s;
    border: 1px dotted #20232d;


}
/* #International:hover .sub{
    visibility: visible;
    transform: scaleY(1);
} */
.sub ul{
    list-style: none;
}
.sub ul li{
    display: block;
}
li#sub_li a {
    margin-top: 0;
    line-height: 13px;
    font-size: 23px;
    padding: 14px 0;
    width: 87%;
    display: flex;
}
.sub ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #ff8b00;
    position: absolute;
    margin-top: 5px;
    margin-left: -19px;
    transition: 0.3s;
    transform: skew(45deg);
}
.sub ul li:hover > a:before {
    width: 15px;
}
.sub ul li a:hover{
    margin-left: 10px;
}

#Bagladesh{
    position: relative;
}
.sub2 ul{
    list-style: none;
}
.sub2 ul li{
    display: block;
}
li#sub_li2 a {
    margin-top: 0;
    line-height: 13px;
    font-size: 23px;
    padding: 14px 0;
    width: 87%;
    display: flex;
}
.sub2{
    width: 190px;
    padding: 17px;
    height: 402px;
    margin-top: -4px;
    position: absolute;
    visibility: none;
    line-height: 4px !important;
    transform: scaleY(0);
    background: #212023c7;
    transform-origin:top;
    transition: 0.3s;
    border: 1px dotted #20232d;
}

/* #Bagladesh:hover .sub2{
    visibility: visible;
    transform: scaleY(1);
} */
#All_types{
   
    position: relative;
}
.sub2 ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #ff8b00;
    position: absolute;
    margin-top: 5px;
    margin-left: -19px;
    transition: 0.3s;
    transform: skew(45deg);
}
.sub2 ul li:hover > a:before {
    width: 15px;
}
.sub2 ul li a:hover{
    margin-left: 10px;
}

.sub3{
    width: 157px;
    padding: 25px;
    height: 240px;
    margin-top: -4px;
    position: absolute;
    visibility: none;
    transform: scaleY(0);
    background: #212023c7;
    transform-origin:top;
    transition: 0.3s;
    border: 1px dotted #20232d;
    overflow: hidden;
   
}
/* #All_types:hover .sub3{
    visibility: visible;
    transform: scaleY(1);
} */
.sub3 ul{
    list-style: none;
}
.sub3 ul li{
    display: block;
    width: 165px;
}
li#sub_li3 a {
    margin-top: 0;
    line-height: 13px;
    font-size: 23px;
    padding: 14px 0;
    width: 87%;
    display: flex;
}
.clss_scroll{
    position: absolute;
    width:55px;
    height:55px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    position: fixed;
    transition: 0.5s;
    border: 1px solid rgb(119, 119, 119);
}
.clss_scroll:hover{
    transform: scale(1.2);
    background: #ff8b00;
   
}
.clss_scroll:hover a{
    color: #fff;
}
.clss_scroll a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
#header_section{
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(banar.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.head_text{
    position: absolute;
    top: 35%;
    user-select: none;
}
.head_text h1{
    font-size: 55px;
    color: #fff;
    font-weight: 600;
}
span.type {
    color: #ff8b00;
}

.sub3 ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #ff8b00;
    position: absolute;
    margin-top: 5px;
    margin-left: -19px;
    transition: 0.3s;
    transform: skew(45deg);
}
.sub3 ul li:hover > a:before {
    width: 15px;
}
.sub3 ul li a:hover{
    margin-left: 10px;
}
.fext-icon{
    position: fixed;
    right: 0;
    top: 44%;
}
.fext-icon1{
    position: fixed;
    right: 0;
    top: 53%;

}
.fext-icon2{
    position: fixed;
    right: 0;
    top: 62%;
}
.fext-icon ul{
    list-style: none;
}
.fext-icon1 ul{
    list-style: none;
}
.fext-icon2 ul{
    list-style: none;
   
}
.fext-icon ul li{
    width: 60px;
    transition: 0.5s;
}
.fext-icon1 ul li{
    width: 60px;
    transition: 0.5s;
}
.fext-icon2 ul li{
    width: 60px;
    transition: 0.5s;
}
.fext-icon ul li a {
    width: 100%;

}
.fext-icon ul li a img {
    width: 33px;
    padding: 7px;
    margin-left: 5px;
    margin-top: 2px;
}
.fext-icon1 ul li a img {
    width: 33px;
    padding: 7px;
    margin-left: 5px;
    margin-top: 2px;
    transition: 0.5s;
}
.fext-icon2 ul li a img {
    width: 33px;
    padding: 7px;
    margin-left: 5px;
    margin-top: 2px;
 
}
.fext-icon ul li#fb{
    background:	#4267B2 ;
    margin-bottom: 5px;
}
.fext-icon ul li#fb:hover{
    width: 100px;
}
.fext-icon1 ul li#ig{
    background:	#8a3ab9;
    margin-bottom: 5px;
  
}
.fext-icon1 ul li#ig:hover{
    width: 100px;
}
.fext-icon2 ul li#tw{
    background:	#00ACEE ;
    margin-bottom: 5px;
   
}
.fext-icon2 ul li#tw:hover{
    width: 100px;
}
.btn{
    position: absolute;
    top: 60%;
}
button#See\ all {
    padding: 10px 35px;
    font-size: 25px;
    border: 1px solid #000;
    cursor: pointer;
    color: #ff8a00;
    background: black;
    transition: 0.3s;
    border-radius: 2px;
    position: relative;
}
.buttonSEe {
    position: absolute;
    top: 57%;
}
.buttonSEe a#button1{
    width: 150px;
    text-decoration: none;
    border: 0.5px solid #ddd;
    padding: 10px 28px;
    font-size: 25px;
    color: #fff;
    position:relative;
    transition: 0.5s;
    z-index: 1;
}

.buttonSEe a#button1 #before_text{
    position:absolute;
    width: 50%;
    height: 0;
    top: 0;
    left: 0;
    background: #ff8a00;
    z-index: -1;
    transition:0.5s;
 
}
.buttonSEe a#button1:hover {
    color: black;
    border: 0.5px solid #ddd;
}
.buttonSEe a#button1:hover #before_text{
    height: 100%;

}
#after_text{
    position:absolute;
    width: 50%;
    height: 0;
    bottom: 0;
    right: 0;
    background: #ff8a00;
    color: black;
    z-index: -1;
    transition:0.5s;

}
.buttonSEe a#button1:hover #after_text{
    height: 100%;
}
.class_text{
    position: absolute;
    top: 45%;
}
.class_text h3{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    user-select: none;
}
.class_text h3 span.mind{
    color: #ff8b00;
}

/* International_sec */

#International_sec{
    width: 100%;
    height: 100vh;
}
.in_head {
    width: 490px;
    float: left;
    text-align: center;
    margin-top: 70px;
}

.in_head h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

#masque{
    color: #ff8b00 ;
}

/* cursor */

h1:hover #cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #ff8b00;
}
.text_contex {
    width: 240px;
    position: absolute;
    left: 11.5%;
    margin-top: 160px;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #ff8a0036;
    border-radius: 5px;
}

.text_contex h1{
    font-size: 35px;
}
.name-country ul {list-style: none;}

.name-country ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    line-height: 35px;
    font-weight: 500;
}
.name-country ul li a i {
    color: #ff8a00;
}
#name_country{
    color:#ff8a00;
}
.name-country ul li:hover a:before {
    width: 110px;
}
.name-country {
    width: 200px;
    margin-left: 10px;
}
.name-country ul li:hover ~ #cursor{
    background: #ff8a00;
}
.all_international{
    width: 663px;
    height: 443px;
    float: right;
    margin-top: 135px;
    padding: 2px;
    margin-right: 12px;
}
.single_masqu{
    width: 215px;
    float: left;
    margin: 3px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: -2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.single_masqu img{
    width: 100%;
    border-radius: 2px;
    position: relative;
}
.gradient{
    position: absolute;
    width: 100%;
    height: 97.5%;
    border-radius: 2px;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff8a00);
    opacity: 0;
    transition: .7s;
}
.single_masqu:hover .gradient{
    opacity: 1;
}
.disc_single{
    position: absolute;
    bottom: 17%;
    text-align: center;
    color: #fff;
    left: 7%;
    transform: translateY(152%);
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}
.single_masqu:hover .disc_single{
    opacity: 1;
    visibility: visible;
    transform: translateY(-20%);
}
.disc_single h1 {
    font-size: 35px;
    font-weight: 500;
}

.disc_single p {
    font-weight: 400;
    letter-spacing: 1px;
    color: #d2d1d1;
}
.disc_single hr {
    width: 121px;
    text-align: center;
    margin: auto;
    margin-top: -8px;
    margin-bottom: 11px;
}
/* search_section */
#search_section{
    width: 100%;
    height: 108vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(tobias-fischer-R7phuj5LMxo-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}
#search_head{
   padding-top: 70px;
   font-size: 50px;
   color: #fff;
}
.search{
    width: 415px;
    margin-top: 85px;
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}
.search input {
    width: 85%;
    float: left;
    padding: 8px;
    background: #fff;
    outline: none;
    border: 1px solid #757570;
    margin-right: -2px;
    margin-top: 0.5px;
    font-size: 15px;
    color: #000;
    padding-right: 8px;
}
.search input:focus{
    border: 1px solid #ff8a00;
}
.search img{
    width: 6%;
    font-size: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-left: 3px;
    border: 1px solid #ff8a00;
    overflow: hidden;
    margin-top: .7px;
    background: #a98707;
    transition: 0.3s;
    cursor: pointer;
}
.search img:hover{
    background: #ff8a00;
}
.sear_text {
    width: 500px;
    float: left;
    font-size: 20px;
    margin-top: 10px;
}
.seP{
    color: #ff8b00;
}
.sear_text h1{
    font-weight: 500;
    letter-spacing: 1px;
}
.sear_text h3 {
    color: #fff;
    font-weight: 500;
}
.se{
    width: 550px;
    float: left;
}
.registration_box{
    width: 370px;
    float: left;
    margin-left: 32px;
}
.input_text h3 {
    font-size: 21px;
    letter-spacing: .5px;
}

.input_text input {
    width: 336px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ff8a00;
    background: #fff;
    outline: none;
    color: #000;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.3s;
    padding-left: 5px;
    letter-spacing: 1px;
}
.input_text input:focus{
    border: 1px solid #ff8a00;
    background: none;
    color: #fff;

}
h3#first_h3 {
    margin-top: 0px;
}
.input_text h3 i {
    color: #ff8a00;
}
select#country_n {
    width: 160px;
    padding: 5px;
    background: none;
    color: #fff;
    font-size: 20px;
    outline: none;
    transition: 0.5s;
 
}
select#country_n:hover{
    background: #17254c;
    color: #fff;
}

select#country_n option {
    color: #fff;
    background: #000;
}
button#submit {
    padding: 6px 25px;
    font-size: 20px;
    margin-top: 7px;
    outline: none;
    background: none;
    border: 1px solid rgb(173, 173, 173);
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}
button#submit:hover {
    transform: translateY(5px);
    background: #17254c;
    border: 1px solid #fff;
}
.input_text {
    background: rgba(0, 0, 0, 0.356);
    width: 345px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #214c728a, -2px -2px 15px #79797759;
}
span#errorfname {
    position: absolute;
    margin-top: -2px;
    font-size: 14px;
    margin-left: 173px;
    color: #fff;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #ff880085;
}
span#errorfname i {
    font-size: 12px;
}
span#errorlname {
    position: absolute;
    margin-top: -2px;
    font-size: 14px;
    margin-left: 173px;
    color: #fff;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px; transition: 0.3s;box-shadow: 1px 1px 5px #6b7278;
}
span#errorlname i {
    font-size: 12px;
}
span#erroremail {
    position: absolute;
    margin-top: -2px;
    font-size: 14px;
    margin-left: 173px;
    color: #fff;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px; transition: 0.3s;box-shadow: 1px 1px 5px #6b7278;
}
span#erroremail i {
    font-size: 12px;
}
span#errorpaw {
    position: absolute;
    margin-top: -2px;
    font-size: 14px;
    margin-left: 173px;
    color: #fff;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px; transition: 0.3s;box-shadow: 1px 1px 5px #6b7278;
}
span#errorpaw i {
    font-size: 12px;
}
span#errorCpaw {
    position: absolute;
    margin-top: -19px;
    font-size: 14px;
    margin-left: 125px;
    color: #fff;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px; transition: 0.3s;box-shadow: 1px 1px 5px #6b7278;
}
span#errorCpaw i {
    font-size: 12px;
}
input#Cpaw {
    margin-bottom: 20px;
}


p#top {
    border-left: 10px solid red;
    border-bottom: 10px solid red;
    position: absolute;
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: -5px;
}


/* historical_Mosqlue */
#historical_Mosqlue{
    width: 100%;
    height: 180vh;
    margin-bottom: 70px;

}
#histori_h1{
    padding-top:80px;
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.single_mas{
    width: 250px;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}
.single_mas:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
    transform: scale(1.05);
}
.single_mos_img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    filter: grayscale(0);
    transition: 0.8s;
}
.single_mos_img:hover{
    filter: grayscale(1);
    
}
.single_mos_img img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    
}
.text_mos h1 {
    font-size: 29px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.text_mos {
    width: 245px;
    margin-top: -6px;
    text-align: center;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #ececec;
    padding: 5px;
}

.text_mos p {
    font-size: 13px;
    color: gray;
    letter-spacing: .5px;
    text-align: center;
}
#coment_box{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(esmonde-yong-7_COgbItdkQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.coment_box h1{
    color: #fff;
    font-size: 50px;
    padding-top: 70px;
  
}
.count_text{
    color: #fff;
    width: 52px;
    text-align: center;
    height: 100px;
    height: 292px;
    margin-left: 465px;
    background: black;
    border: 1px solid #fff;
    padding: 14px;
    margin-top: 30px;
    transition: 0.3s;
}
.count_text:hover{
    border: 1px solid #ff8b00;
}
#text_aria{
    width: 600px;
    height: 300px;
    float: right;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    
}
#text_aria:focus{
    border: 1px solid #ff8b00;
}
.count_text h2 {
    width: 100%;
    height: 82px;
    font-weight: 400;
}
.count_text h2 span{
    color:#ff8b00;
}
#first_h2{
   padding-top: 90px;
}
div#si_btn {
    width: 150px;
    float: left;
    margin-top: -200px;
    margin-left: 50px;
}

button.si_btn:hover{
    background: #ff8b00 ;
}

button.si_btn {
    padding: 15px;
    font-size: 20px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
footer#footer {

width: 100%;

height: 70px;

text-align: center;
}

.icp {
    text-align: center;
    margin-top: 19px;
}

.icp a {
    text-decoration: none;
    color: #ff8b00;
    padding: 6px;
    border: 1px solid #ddd;
    margin: 0 5px;
    transition: 0.5s;
}
.icp a:hover{
    background: #ff8b00;
   
}
.icp a:hover i{
    color: #fff;
}
.icp a i {
    padding: 5px;
    transition: .5s;
}
div#creator {
    text-transform: capitalize;
    margin-top: 16px;
    color: #ff8b00;
    letter-spacing: 1px;
    font-size: 12px;
}
/* cursor */

#cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #ff8b00;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
#cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background: #ff8b00 ;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}
#footer:hover ~ #cursor{
    transform: translate(-50%,-50%)scale(1.3);
    background: #ff8c004f;
}
#footer:hover ~ #cursor2{
    opacity: 0;
}

